.jumbotron {
    /*background-image: url("https://via.placeholder.com/150");*/
    margin: 2vh 4vw;
    background-image: url("/awsmcms/img/lights.jpg");
    background-size: cover;
    color: white;

}